on fs
    mount squashfs loop@/installmedia/images.sfs /installmedia/images ro
    mount ext4 loop@/installmedia/images/system.img /system ro nodev
    mount tmpfs tmpfs /tmp
    mount tmpfs tmpfs /data
    mount tmpfs tmpfs /cache
    write /sys/class/backlight/intel_backlight/brightness $[/sys/class/backlight/intel_backlight/max_brightness]

on boot
    start iagod

service iagod /installmedia/images/iagod
    class iago
    user root
    console
    oneshot

